.wrapper{
    position: relative;
    top:45%;
    left:50%;
    transform:translate(-50%, -50%);
    text-align: center;
    z-index: 15;
}
.Top{

}
.Bottom{

}
.firstP{
    font-size: 40px;
}
.secP{
    font-size: 40px;
}